@import url("https://fonts.googleapis.com/css2?family=Nunito:wght@400;500;600;700&display=swap");
@import "tailwindcss";

:root {
  --bg: #f7f4fa;
  --bg-hover: #392367;
  --card-bg: #ffff;
  --text: #44449a;
  --subtitle: #eea900;
  --text-hover: #dad0f8;
  --primary-color: #b8abd7;
  --secondary-color: #78cfc7;
  --secondary-color-hover: #8cefe5;
  --error: rgb(237, 11, 11);
  --shadow: #646464;
  --gray: #b1b4b8;
  --accent: #d5b3f7;
  --accent-bg: rgb(143, 53, 221);
  --sans: system-ui, "Segoe UI", Roboto, sans-serif;
  --heading: "Nunito", system-ui, "Segoe UI", Roboto, sans-serif;
  --mono: "JetBrains Mono", ui-monospace, Consolas, monospace;

  --sans: system-ui, "Segoe UI", Roboto, sans-serif;
  --mono: ui-monospace, Consolas, monospace;

  font: 18px/145% var(--sans);
  letter-spacing: 0.18px;
  color-scheme: light dark;
  color: var(--text);
  background: var(--bg);
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  @media (max-width: 1024px) {
    font-size: 16px;
  }
}

#root {
  width: 100%;
  max-width: 100%;
  min-height: 100svh;
  box-sizing: border-box;
}

body {
  margin: 0;
}

input[type="radio"] {
  accent-color: var(--accent-bg);
}
input[type="radio"] {
  accent-color: var(--accent-bg);
}

h1,
h2 {
  font-family: var(--heading);
  font-weight: 700;
  color: var(--text-h);
}

h1 {
  font-size: 44px;
  letter-spacing: -1.68px;
  @media (max-width: 1024px) {
    font-size: 24px;
    margin: 2px 0;
  }
}
h2 {
  font-size: 20px;
  line-height: 118%;
  letter-spacing: -0.24px;
  margin: 0 0 8px;
  @media (max-width: 1024px) {
    font-size: 18px;
  }
}
p {
  margin: 0;
}
input[type="text"] {
  background-color: var(--bg);
  color: var(--text);
  box-shadow:
    0 4px 6px -1px var(--tw-shadow-color, rgb(0 0 0 / 0.1)),
    0 2px 4px -2px var(--tw-shadow-color, rgb(0 0 0 / 0.1));
}
button:disabled {
  background-color: #e7e9eb;
  color: var(--gray);
}
/* fundo e texto da option */
option {
  background-color: var(--card-bg);
  color: var(--primary-color);
}
option:checked {
  background-color: var(--secondary-color);
  color: white;
}

/* select fechado */
select {
  background: var(--bg);
  color: var(--text);
  border: none;
  border-radius: 8px;
  padding: 8px 12px;
  box-shadow:
    0 4px 6px -1px var(--tw-shadow-color, rgb(0 0 0 / 0.1)),
    0 2px 4px -2px var(--tw-shadow-color, rgb(0 0 0 / 0.1));
}

/* -------------------- */
.card {
  position: relative;
  overflow: hidden;
}

.card::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  height: 50%;
  background: linear-gradient(to bottom, transparent, rgba(0, 0, 0, 0.75));
}

.card-text {
  position: absolute;
  bottom: 0.8rem;
  left: 1rem;
  color: white;
  z-index: 1;
}

.card-heart {
  width: 35px;
  height: 35px;
  position: absolute;
  background-color: white;
  z-index: 1;
}
